* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

body {
    font-family: 'Noto Sans HK', sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
    background-color: #F5EFD7;
}

nav,
footer {
    padding: 1% 0;
    background-color: #441122;
    height: 7.5vh;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

header {
    padding: 0;
    height: 100vh;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.js-start-button {
    padding: 0;
    background: url(./images/Original.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-style: none;
}

.js-refresh-button {
    padding: 0;
    background: url(./images/Grayscale\ on\ Transparent.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    border-style: none;
}

header:hover {
    cursor: pointer;
}

.headers {
    margin: 0;
    font-family: 'Libre Baskerville', serif;
    color: #7B9D3E;
    font-weight: 500;
}

h2 {
    margin: 0;
    font-family: 'Libre Baskerville', serif;
    color: #7B9D3E;
    font-weight: 500;
}

section {
    min-height: 200px;
    padding: 7%;
    margin: 0;
    background-color: #F5EFD7;
}

.hidden {
    display: none;
}

.error-message {
    color: red;
}

ul {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
    color: purple;
}

.resultsImage {
    width: 85%;
    height: auto;
}